.card-container {
  display: flex;
  flex-direction: column;
  background-color: #27272a;
  border: 2px solid #c30b0bc5;
  border-radius: 10px;
  padding: 25px;
  color: white;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
